/* /* ?? */
h1 {
    color: rgb(193, 112, 14);
    background-color: aqua;
    font-family: monospace;
}
   h2 {
    color: aquamarine;
    background-color: brown;
    font-weight: 200;
   }
    h3 {
        color:aquamarine;
        background-size:500px;
        background-color: blue;
    } 
    h4 {
        color: rgb(255, 0, 0);
        background-color: rgb(12, 221, 96);
        font-size: 500;
        font-style: normal;
    }
    h5 {
        color: black;
        background-color: aqua;
        font-variant: small-caps;
        font-weight: 400;
        font-size: 20px;
    }
    